/Aula03/nbproject/private/
/Aula03/build/
/TP/build/
/potencia/nbproject/private/
/Potencia/nbproject/private/
/Potencia/build/
/Exercicio06/build/
/Exercicio06/nbproject/private/
/Aula6-InterfaceGrafica/nbproject/private/
/Aula6-InterfaceGrafica/build/
/Escola/nbproject/private/
/Escola/build/
